---
interface Props {
  // imgRatio: 'square' | 'landscape' | 'portrait';
  imgPath: string;
  imgAlt: string;
  title: string;
  skillIcons?: string[];
  skillIconAlts?: string[];
  subTitle: string;
  desc: string[];
  sourceCodeLink?: string;
  moveLink?: string;
  accessMethod?: 'download' | 'playNow' | 'website' | '';
  team?: boolean;
}

const {
  // imgRatio,
  imgPath,
  imgAlt,
  title,
  skillIcons = [],
  skillIconAlts = [],
  subTitle,
  desc,
  sourceCodeLink = '',
  moveLink = '',
  accessMethod = '',
  team = false,
} = Astro.props;

const imgSizeClasses = {
  square: 'max-w-[200px] md:max-w-[100px] aspect-square',
  landscape: 'max-w-[400px] md:max-w-[550px] aspect-video',
  portrait: 'max-w-[280px] md:max-w-[380px] aspect-[2/3]',
};

const accessMethodText = {
  download: 'Download',
  playNow: 'Play Now',
  website: 'Go To Website',
  '': '', // Handle empty accessMethod
};
---

<article class="border-l-4 mb-16 border-primary p-2 flex flex-col md:flex-row justify-around w-full md:gap-16">
    <div class="w-full relative inline-block group ">
      <div class={`absolute -top-7 left-1 text-white px-3 py-1 rounded-t-xl text-sm ${team ? 'bg-indigo-500' : 'bg-blue-500'}`}>
        {team ? 'Team' : 'Solo'}
      </div>
      <img
        src={`${imgPath}`}
        alt={imgAlt}
        class="mx-auto mb-6 rounded border-2 border-primary/50 object-cover w-full max-w-[400px] md:max-w-[550px] aspect-video"
        />
        <!-- class={`mx-auto mb-6 rounded border-2 border-primary/50 w-full object-cover ${imgSizeClasses[imgRatio]}`} -->
    </div>
  
  <div class="w-full ml-3">
    <div class="flex flex-col">
      <h4 class="text-xl text-secondary-foreground font-semibold mb-3 pb-1">{title}</h4>
      <div class="flex flex-wrap">
        {skillIcons.map((icon, index) => (
          <img
            src={icon}
            alt={skillIconAlts[index] || `Skill Icon ${index + 1}`}
            class="w-6 h-6 mx-1 md:mx-2"
          />
        ))}
      </div>
    </div>
    
    <h4 class="text-muted-foreground my-4 text-sm font-semibold">{subTitle}</h4>
    
    <ul class="text-primary/80 my-4 text-sm md:text-xs font-bold">
      {sourceCodeLink && (
        <li class="inline mr-10">
          <a
            href={sourceCodeLink}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-primary/30 duration-200"
          >
            Source Code
          </a>
        </li>
      )}
      <li class="inline">
        <a
          href={moveLink}
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-primary/30 duration-200"
        >
          {accessMethodText[accessMethod]}
        </a>
      </li>
    </ul>
    
    <ul class="text-muted-foreground m-5 text-sm font-semibold space-y-2">
      {desc.map((item) => (
        <li class="list-disc text-muted-foreground">
          <span class="leading-relaxed">{item}</span>
        </li>
      ))}
    </ul>
  </div>
</article>